@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: InterVariable;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/InterVariable.woff2") format("woff2");
}
@font-face {
	font-family: InterVariable;
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
}

html {
	font-family: InterVariable, sans-serif;
	font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@theme {
	/* Font */
	--font-fira-mono: "Fira Mono", monospace;

	/* Color Scheme */
	--color-primary-green-50: oklch(0.983 0.043 168.35);
	--color-primary-green-100: oklch(0.965 0.071 168.35);
	--color-primary-green-200: oklch(0.928 0.128 168.35);
	--color-primary-green-300: oklch(0.891 0.184 168.35);
	--color-primary-green-400: oklch(0.854 0.241 168.35);
	--color-primary-green-500: oklch(0.903 0.226 168.35);
	--color-primary-green-600: oklch(0.771 0.178 168.35);
	--color-primary-green-700: oklch(0.638 0.131 168.35);
	--color-primary-green-800: oklch(0.506 0.084 168.35);
	--color-primary-green-900: oklch(0.374 0.036 168.35);

	/* Accent colors */
	--color-accent-20050: #fef9e6;
	--color-accent-100: #fef3cf;
	--color-accent-200: #fde7a0;
	--color-accent-300: #fcdb70;
	--color-accent-400: #fbd040;
	--color-accent-500: #f2c510;
	--color-accent-600: #c29e0e;
	--color-accent-700: #91770b;
	--color-accent-800: #615007;
	--color-accent-900: #302804;

	/* Light Colors */
	--color-bg-light: #ffffff;
	--color-text-light: #1a1a1a;
	--color-muted-light: #555555;
	--color-border-light: #e5e5e5;
	--color-card-bg-light: #fafafa;

	/* Dark Mode Colors */
	--color-bg-dark: #121212;
	--color-text-dark: #eaeaea;
	--color-muted-dark: #a0a0a0;
	--color-border-dark: #2a2a2a;
	--color-card-bg-dark: #1e1e1e;
}

@layer components {
	section,
	footer {
		@apply px-4 md:px-16;
	}

	section > div,
	footer > div {
		@apply max-w-[72rem] mx-auto;
	}

	li:has(.nav-link) {
		counter-increment: item 1;
	}

	.nav-link {
		display: flex;
		align-items: center;
	}

	.nav-link::before {
		content: "0" counter(item) ".";
		margin-right: 0.4rem;
		color: var(--color-primary-green-600);
		font-family: var(--font-fira-mono);
	}

	.newsletter {
		background-image: repeating-linear-gradient(
			315deg,
			var(--pattern-fg) 0,
			var(--pattern-fg) 1px,
			transparent 0,
			transparent 50%
		);
		background-size: 10px 10px;
		background-attachment: fixed;
	}

	.card-shadow {
		box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 1);
	}
}
